* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(36, 34, 34); 
    --tertiary-color: rgb(13, 183, 206);
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background: var(--secondary-color);
}
/*Begin header style */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    position: -webkit-sticky; */
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    padding: 0 5px 5px 60px;
    font-size: 3vw;
    color: var(--tertiary-color);
}

header nav {
    margin: 10px 0;
    display:flex;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size:1.65vw;
    text-shadow: 0 0 10px var(--tertiary-color);
    text-align: center;
}

header nav ul li a:hover {
    background:var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    font-weight: bold;
}
/*End header style*/

/*Begin hero style*/
.hero {
    background-image: url("../images/header-image.jpg");
    background-size: 100% 100%;
    background-position: center; 
    display: flex;
    bottom: 25px;
    height: 250px; 
    width: 100%;
    align-items: flex-end; 
    justify-content: flex-end;
    font-size: 2vw;
}

.hero h2 {
    color: var(--primary-color);
    font-weight: lighter;
    font-style: italic;
    margin: auto 30px 30px 30px; 
    padding: 200px 15px 15px auto;
}

/*End hero style */

/*Begin  about-me section */

.about-grid-container {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    grid-template-rows: (1, 10vw);
    grid-gap: 35px;
    margin: 40px 40px 40px 20px;
}

.grid-item {
    display: flex;
     /* background-color: gray;  */
    padding: .75em;
}
.item-header {
    font-size: 2.8vw;
    text-align: right;
    align-items: flex-start; /*non-main axis -up/down centering */
    justify-content: flex-end; /* main axis-in this case x axis */
    border-right: 5px solid var(--tertiary-color); 
    grid-column: 1/2;
}

.item-selfie img {
    width:100%;
    max-height: 100%;
    object-fit: cover;
}
.item-selfie {
    grid-column: 2/3;
    grid-row: 1/2;
}
.item-bio {
    grid-column:3/6;
    grid-row: 1/2;
}
.item-bio p {
    font-size: 15px;
    text-align: left; 
    line-height: 1.5;
    font-style: lighter;
}
.bio::first-line {
    font-size: x-large;
    color: var(--tertiary-color);
}
/* end About me section */

/* Begin work section */
.work-grid-container {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 35px;
    margin: 40px 40px 40px 20px;
}

.work-header {
    grid-column: 1/2;
    grid-row: 1/4;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-1 {
    grid-column: 2/4;
    grid-row: 1/3;
}
.gallery-item-2 {
    grid-column: 4/6;
    grid-row: 1/2;
}
.gallery-item-3 {
    grid-column: 4/6;
    grid-row: 2/3;
}
.gallery-item-4 {
    grid-column: 2/5;
    grid-row: 3/4;
}
.border {
    border-bottom: 5px solid var(--tertiary-color);
}

.flex-item-descrip span {
    display: flex; 
    flex-direction: column; 
    position: relative;
    bottom: 50px;
    background-color: lightgray;
    margin-top: auto;
    padding: 10px 5px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold; 
}
/* End work section */

/* Begin contact-info section */

.contact-grid-container {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    grid-template-rows: (1, 10vw);
    grid-gap: 35px;
    margin: 40px 40px 40px 20px;
}
.item-contact {
    grid-column: 1/2;
}

.item-contact-info {
    grid-column: 2/6;
}

.item-contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center; 
    list-style: none;
}

.item-contact-info ul li a, .item-contact-info ul li h4 {
    display: flex;
    padding: 10px 15px;
    font-weight: lighter;
    font-size:1.65vw;
    text-align: center;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--tertiary-color);
    margin: 0 30px 0 30px;    
}

/* End contact section */


/*Footer style*/
footer {
    background-color:var(--tertiary-color);
    display: flex;
    text-align: flex-start;
    text-justify; flex-start;
    padding: 0 0 0 40px;
}

footer h2 {
    font-weight: lighter;
    padding: 10px 10px 10px 10px;
    color: var(--secondary-color);
    font-style: italic;
}

footer span {
    font-style: bold;
    font-weight: bold;
}


/* End footer style */
@media screen and (max-width: 768px) {
    #dani-img {
        height: 20px ;
        width: 20px ;
    }
    .p
   /* move the grid */
}


